* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-position: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px 100px;
  padding-right: 40px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
}

.logo {
  font-size: 32px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 700;
  margin-right: 40px;
  position: relative;
  cursor: default
}

.logo::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
}


.navbar a {
  position: relative;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-right: 40px;
}


.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
}

.navbar a:hover::before {
  width: 100%;
}

.navbar .loginBtn {
  width: 130px;
  height: 40px;
  background: transparent;
  border: 2px solid #fff;
  text-align: center;
  vertical-align: center;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
  line-height: 35px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-right: 20px;
  transition: .4s;
}

.navbar .loginBtn:hover {
  background-color: #fff;
  color: rgb(0, 0, 0);
}

.navbar .user-icon {
  border-radius: 50%;
  margin-right: 20px;
}

.balance {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 4px;
  width: 196px;
  height: 64px;
  margin-left: 60px;
  margin-right: 20px;
}

.balance p {
  text-align: center;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-box {
    width: 330px;
    padding: 20px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-box h2 {
  color: #fff;
  text-align: center;
}

.form-box p {
  color: #fff;
  text-align: left;
}

.input-field {
    margin-bottom: 20px;
    position: relative;
}


input[type="email"],
input[type="password"] {
    padding-left: 30px;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.games-label {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    align-items: center;
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 48px;
}


.store-body {
  display: flex;
  justify-content: start;
  flex-flow: row wrap;
  margin-left: 195px;
  margin-right: 195px;
  width: 1536px;
}


.game-wrapper {
    width: 216px;
    height: 256px;
    padding: 20px;
    margin: 20px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    flex-flow: space-evenly;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
}



.game-wrapper:hover {
    transform: scale(1.05);
    box-shadow: 0px 1px 2px 0px rgba(0,255,255,0.7),
            1px 2px 4px 0px rgba(0,255,255,0.7),
            2px 4px 8px 0px rgba(0,255,255,0.7),
            2px 4px 16px 0px rgba(0,255,255,0.7);
}

.game-logo {
    justify-content: center;
    margin: 5px;
}


.game-text {
   text-align: center;
   font-size: 24px;
   color: #fff;
   font-family: "Poppins", sans-serif;
}


