{% extends "index.html" %}

{% block content %}

<h1 class="games-label">О нас</h1>
<div class="about-us">
    <p>
         Добро пожаловать на BForGame - игровую интернет-площадку, созданную учениками Академии Яндекс Лицей. Мы — группа страстных геймеров и разработчиков, которые вдохновляются возможностями технологий и мира игр.
    </p>
    <p>
Наша цель - предоставить игрокам уникальный опыт и возможность наслаждаться захватывающими играми в любое время и в любом месте. Мы стремимся к созданию уютного игрового пространства, где каждый найдет что-то по душе.
    </p>
    <p>
BuyForGame - это не просто интернет-площадка, это место, где игры соединяют людей, позволяя им открыть для себя новые миры, испытать невероятные приключения и разделить эмоции с друзьями.
    </p>
    <p>
Мы постоянно работаем над улучшением нашего сервиса, добавляя новые игры, улучшая функциональность и обеспечивая безопасность игрового опыта для всех наших пользователей.
    </p>
    <p>
Присоединяйтесь к нам и окунитесь в мир игр с BForGame!
    </p>
</div>

{% endblock %}
