<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-QcATJdjA2LB5Hqw8+K8eExZ9Z3O6bJB4sQTxubFuh2fGCaeWcM5m/hJQO31KyynJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <title>BuyForGame</title>
</head>
<body>
    <header class="header">
        <p class="logo">BuyForGame</p>
        <nav class="navbar">
            <a href="{{ url_for('home') }}">Главная</a>
            <a href="{{ url_for('store') }}">Магазин</a>
            <a href="#">Руководства</a>
            <a href="#">О нас</a>
            {% if current_user.is_authenticated %}
            <div class="balance">
                <p>Баланс:</p>
                <p>0 рублей</p>
            </div>
            <img class="user-icon" src="/static/images/users-icons/default-icon.png">
            <a href="{{ url_for('logout') }}">{{ current_user.nickname }}</a>
            {% else %}
            <a href="{{ url_for('login') }}" class="loginBtn">Авторизация</a>
            {% endif %}
        </nav>
    </header>
{% block content %}{% endblock %}
<a href="https://freekassa.ru" target="_blank" rel="noopener noreferrer">
  <img src="https://cdn.freekassa.ru/banners/small-white-2.png" title="Receving payments">
</a>
</body>
</html>