{% extends "index.html" %}
{% block content %}
<h1 class="games-label">Оформление заказа</h1>
<div class="store-body">
    <div class="product-review-wrapper">
    <div class="product-description">
    <span class="product-name">Товар: {{ product.name }}</span>
    <br>
    <span class="product-count">В наличии: {{product.product_quantity}}</span>
    <br>
    <span class="full-description">Полное описание: <br>{{ product.description }}</span>
    <br>
    <span class="count-text">Цена за шт: {{ product.price }} руб.</span>
    <br>
    <span class="count-text">Купить: <input class="buy-count" type="number"> шт.</span><button class="buy-button">Купить</button>
    </div>

    </div>
    <div class="chat-wrapper">
        <h3 class="chat-label">Чат с продавцом</h3>
        <div class="chat">
        </div>
        <div class="message-field">
            <input class="message-input" type="text">
            <div>
            <button class="send-button"><ion-icon class="send-icon" name="arrow-forward-circle"></ion-icon></button>
            </div>
        </div>
    </div>
</div>
{% endblock %}