{% extends "index.html" %}

{% block content %}
<div class="wrapper">
<div class="form-box login">
<h2>Регистрация</h2>
    {% if message %}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endif %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            <p>Логин</p>
            {{ form.nickname(class="form-control") }}
            {% for error in form.nickname.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
         <p>
            <p>Почта</p>
            {{ form.email(class="form-control") }}
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            <p>Пароль</p>
            {{ form.password(class="form-control") }}
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            <p>Повторите пароль</p>
            {{ form.password_2(class="form-control") }}
            {% for error in form.password_2.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>Уже есть аккаунт? <a href="{{ url_for('login') }}" class="loginBtn">Авторизоваться</a></p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        </div>
    </div>
    </form>
{% endblock %}