{% extends "index.html" %}
{% block content %}
<h1 class="games-label">Игры</h1>
<div class="store-body">
    {% for game in games %}
    <div class="game-wrapper">
        <a href="{{ url_for('products', id=game[1]) }}?sort_by=date_added&store_format=cards">
            <img class="game-logo" src="static/images/games-icons/{{ game[0].replace(' ', '') }}.png">
        </a>
        <p class="game-text">{{ game[0] }}</p>
    </div>
    {% endfor %}
    {% if current_user.admin %}
    <div class="game-wrapper">
        <a href="{{ url_for('add_game') }}">
            <img class="game-logo" src="static/images/system-images/AddGameIcon.png">
        </a>
        <p class="game-text">Добавить игру</p>
    </div>
    {% endif %}
</div>

{% endblock %}