{% extends "index.html" %}
{% block content %}
    <h1 class="games-label">Игры</h1>
    <div class="store-body">
    <div class="game-wrapper">
        <a href="https://htmlacademy.ru">
            <img class="game-logo" src="static/images/AddGameIcon.png">
        </a>
        <p class="game-text">Добавить игру</p>
    </div>
    <div class="game-wrapper">
        <a href="https://htmlacademy.ru">
            <img class="game-logo" src="static/images/AddGameIcon.png">
        </a>
        <p class="game-text">Добавить игру</p>
    </div>
    <div class="game-wrapper">
        <a href="https://htmlacademy.ru">
            <img class="game-logo" src="static/images/AddGameIcon.png">
        </a>
        <p class="game-text">Добавить игру</p>
    </div>
    <div class="game-wrapper">
        <a href="https://htmlacademy.ru">
            <img class="game-logo" src="static/images/AddGameIcon.png">
        </a>
        <p class="game-text">Добавить игру</p>
    </div>
    <div class="game-wrapper">
        <a href="https://htmlacademy.ru">
            <img class="game-logo" src="static/images/AddGameIcon.png">
        </a>
        <p class="game-text">Добавить игру</p>
    </div>
    <div class="game-wrapper">
        <a href="https://htmlacademy.ru">
            <img class="game-logo" src="static/images/AddGameIcon.png">
        </a>
        <p class="game-text">Добавить игру</p>
    </div>
    <div class="game-wrapper">
        <a href="https://htmlacademy.ru">
            <img class="game-logo" src="static/images/AddGameIcon.png">
        </a>
        <p class="game-text">Добавить игру</p>
    </div>
    <div class="game-wrapper">
        <a href="https://htmlacademy.ru">
            <img class="game-logo" src="static/images/AddGameIcon.png">
        </a>
        <p class="game-text">Добавить игру</p>
    </div>
        <div class="game-wrapper">
        <a href="https://htmlacademy.ru">
            <img class="game-logo" src="static/images/AddGameIcon.png">
        </a>
        <p class="game-text">Добавить игру</p>
    </div>
        <div class="game-wrapper">
        <a href="https://htmlacademy.ru">
            <img class="game-logo" src="static/images/AddGameIcon.png">
        </a>
        <p class="game-text">Добавить игру</p>
    </div>
        <div class="game-wrapper">
        <a href="https://htmlacademy.ru">
            <img class="game-logo" src="static/images/AddGameIcon.png">
        </a>
        <p class="game-text">Добавить игру</p>
    </div>
        <div class="game-wrapper">
        <a href="https://htmlacademy.ru">
            <img class="game-logo" src="static/images/AddGameIcon.png">
        </a>
        <p class="game-text">Добавить игру</p>
    </div>
        <div class="game-wrapper">
        <a href="https://htmlacademy.ru">
            <img class="game-logo" src="static/images/AddGameIcon.png">
        </a>
        <p class="game-text">Добавить игру</p>
    </div>
        <div class="game-wrapper">
        <a href="https://htmlacademy.ru">
            <img class="game-logo" src="static/images/AddGameIcon.png">
        </a>
        <p class="game-text">Добавить игру</p>
    </div>
        <div class="game-wrapper">
        <a href="https://htmlacademy.ru">
            <img class="game-logo" src="static/images/AddGameIcon.png">
        </a>
        <p class="game-text">Добавить игру</p>
    </div>
        <div class="game-wrapper">
        <a href="https://htmlacademy.ru">
            <img class="game-logo" src="static/images/AddGameIcon.png">
        </a>
        <p class="game-text">Добавить игру</p>
    </div>
        <div class="game-wrapper">
        <a href="https://htmlacademy.ru">
            <img class="game-logo" src="static/images/AddGameIcon.png">
        </a>
        <p class="game-text">Добавить игру</p>
    </div>
        <div class="game-wrapper">
        <a href="https://htmlacademy.ru">
            <img class="game-logo" src="static/images/AddGameIcon.png">
        </a>
        <p class="game-text">Добавить игру</p>
    </div>
        <div class="game-wrapper">
        <a href="https://htmlacademy.ru">
            <img class="game-logo" src="static/images/AddGameIcon.png">
        </a>
        <p class="game-text">Добавить игру</p>
    </div>
</div>
{% endblock %}