{% extends "index.html" %}

{% block content %}

<h1 class="games-label">Руководства</h1>
<div class="about-us">
    <h2>
Извините, руководства в настоящее время недоступны
    </h2>
    <p>
Мы работаем над разработкой раздела с руководствами для наших пользователей, чтобы обеспечить им максимальное удобство и эффективное использование нашей платформы. К сожалению, на данный момент эта функция недоступна.    </p>
    <p>
Мы ценим ваше терпение и приносим извинения за любые неудобства, которые это может вызвать. Мы стремимся сделать руководства доступными как можно скорее и убедиться, что они полноценно соответствуют вашим потребностям.

    </p>
    <p>
Следите за нашими обновлениями, чтобы быть в курсе последних новостей о развитии нашей платформы и о возможности воспользоваться руководствами, когда они будут доступны.

    </p>
    <p>
Благодарим вас за понимание и поддержку!

    </p>
</div>

{% endblock %}
